@page "/"

<PageTitle>
    Time Tracker
</PageTitle>

@if (WeekEntryModel is not null)
{
    <MudDatePicker @ref="_picker"
                   @bind-Date="startDate"
                   @bind-Date:after="@OnStartDateChangedAsync"
                   Label="Start Date"
                   Mask="@(new DateMask("MM/dd/yyyy"))"
                   DateFormat="MM/dd/yyyy">
        <PickerActions>
            <MudButton Class="mr-auto align-self-start"
                       OnClick="@(() => { if(_picker is not null) { _picker.GoToDate(DateTime.Today, true); _picker.Close(); } })">
                Today
            </MudButton>
            <MudButton OnClick="@(() => _picker?.Close(false))">
                Cancel
            </MudButton>
            <MudButton Color="Color.Primary"
                       OnClick="@(() => _picker?.Close())">
                Ok
            </MudButton>
        </PickerActions>
    </MudDatePicker>

    <WeekEntry WeekEntryModel="WeekEntryModel" />
}

<MudPaper Class="border-solid border-2 mud-border-error my-4 pa-2" Elevation="0">

    <p>
        <strong>
            Danger Zone
        </strong>
    </p>

    <div class="button-container">

        <InputFile id="file"
                   OnChange="@HandleFile" />

        <TtButton class="btn btn-secondary margin-right"
                  disabled="@(browserFile is null)"
                  @onclick=ImportData>
            Import
        </TtButton>

    </div>

    <div class="button-container">

        <TtButton class="btn btn-secondary margin-right"
                  @onclick=ExportData>
            Export
        </TtButton>

        <TtButton class="btn btn-danger"
                  @onclick=ClearAllDataAsync>
            Clear All Data
        </TtButton>

    </div>

</MudPaper>
